
{%extends 'base.html'%}

{%block title%} ABOUT {%endblock title%}
{%block body%} 

<div style="font-size: x-large;" >
    <p> Hi! I'm Ashutosh and i just wanted to make a blog so i did it and i'm proud of myself for making it.</p> 
    <p>I knew i wanted my blog to be about God. I'm quite intrigued by the concept of God which at first makes sense
    when you're a kid,then you grow and it doesn't make sense,and then you grow further and have a sligt idea why this
    concept is needed in this world.</p>
    <p> In future,it won't always be about god,will be different topics as well. I've thought about them just have not written them 
    yet.</p>
    <p>Now i'm not an expert in this subject. I wrote what i know as of now. My views,hopefully, will keep on changing as time passes by.</p>
    <p> If you have an article/paragraph you want to post, <a href="/contact" style="color: rgb(42, 250, 52);">contact me</a> and i'll add that article to this blog.</p>
    <p><em><strong>Sayonara(^-^).</strong></em> </p>    
    <!-- <div style="margin-left: 470px;margin-top:30px"> -->
    <!-- <img src="/static/Quotefancy-247032-3840x2160.jpg" alt="" height="300px" width="700px" > -->
<!-- </div> -->
    </div>

{%endblock body%}