<div style="background-image: url(/static/alexander-andrews-fsH1KjbdjE8-unsplash.jpg);color: aliceblue;">
{% extends 'base.html' %}
{% block title %}Is God Real?{% endblock title %}
{% block body %}
<div class="text-center">
<h1 style="margin-top: 10px;">Is God Real?</h1> </div>
<div style="margin-inline-start: 30px; margin-inline-end:30px;font-size: 7mm;">
<p >When I say 'GOD' I'm refering to a Higher Being capable of creating,maintaining and destroying this thing called universe
    Well i surely dont know the answer to that but i live my life as if it does not really matter if God's real.
    Imagine being all knowing and powerfull but still craving attention of your own creation. That is so.... <em>human.</em> </p>
   <p> It sounds a little narcissictic as well. I write a program and it is giving me the output i want. I'll be satisfied with it. I would not want the program to print praises about me. If i dont like the output i will delete the program.
     In the same way God does not care if you think he is there or not and if he thinks that some humans are not working as he thought then he can just "delete" them. But as I have seen many heathens alive,including myself,then it's fair to assume that he does not really care.</p> 
 <p>Let's assume God is real and in the traditional sense that he is watching our actions and we'll be judged by our
    actions when we die. He wants us to have faith in him while we are suffering. It feels like he is amused when we
    suffer. Now he sounds like a sadist to me.</p> <p>It is quite something that he made us conscious.We made it to the top of 
    the food chain just because we were a little smarter than other species.But no other species managed to mess up the
    only home as humans did. Either he did not see it coming or it is the price we have to pay for the consciousness.
    It's kind of unfair of him to give us free will but then we will not go to heaven if we don't do the things he wants
    us to do.It's like a brochure of a college,it shows a lot of things available in college so you take admission but
    then you realise all you have to do is study. All the fun in brochure,it was just on paper.</p> <p></p> I've heard we are a part of God and built by him.Now He could've shown himself to us and do some tricks and then everyone would happily worship him. But he wanted to see what humans are capable of doing . What are the lengths humans,who are a part of him, can go to. It's like he wanted to do bad things himself but just couldn't do them himself because he took too much pride in being a God.</p>
</div>

{% endblock body %}
</div>